@{
    Layout = null;
}

<div class="modal fade" id="myinfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">确认删除</h4>
                </div>
                <div class="modal-body">
                    操作成功
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="sureConfirm()">确认</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $("#myinfoModal").modal("show");
    function sureConfirm() {
        $("#myinfoModal").modal("hide");
        $(".modal-backdrop").remove();
        location.reload();
    }
</script>