USE [master]
GO
/****** Object:  Database [MyBlog]    Script Date: 2017/6/11 18:52:48 ******/
CREATE DATABASE [MyBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyBlog', FILENAME = N'D:\Sql\MSSQL13.SQLEXPRESS\MSSQL\DATA\MyBlog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyBlog_log', FILENAME = N'D:\Sql\MSSQL13.SQLEXPRESS\MSSQL\DATA\MyBlog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyBlog]
GO
USE [MyBlog]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2017/6/11 18:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blog]    Script Date: 2017/6/11 18:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[AuthorName] [nvarchar](32) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[DeletionTime] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_BLOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Classification]    Script Date: 2017/6/11 18:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[DeletionTime] [datetime] NULL,
	[ModificationDate] [datetime] NULL,
 CONSTRAINT [PK_CLASSIFICATION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassifyBlog]    Script Date: 2017/6/11 18:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassifyBlog](
	[BlogId] [int] NOT NULL,
	[ClassifyId] [int] NOT NULL,
 CONSTRAINT [PK_CLASSIFYBLOG] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC,
	[ClassifyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2017/6/11 18:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[AuthorName] [nvarchar](32) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PublishTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionTime] [datetime] NULL,
 CONSTRAINT [PK_COMMENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2017/6/11 18:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[UserId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2017/6/11 18:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](32) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Name] [nvarchar](32) NULL,
	[Birthday] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Email] [nvarchar](32) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([UserId], [Id]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Classification] ON 

INSERT [dbo].[Classification] ([Id], [Content], [IsDeleted], [CreationTime], [DeletionTime], [ModificationDate]) VALUES (0, N'Java', 0, CAST(N'2017-06-11T12:56:09.553' AS DateTime), NULL, CAST(N'2017-06-11T12:56:09.553' AS DateTime))
INSERT [dbo].[Classification] ([Id], [Content], [IsDeleted], [CreationTime], [DeletionTime], [ModificationDate]) VALUES (1, N'C#', 0, CAST(N'2017-06-11T13:34:32.017' AS DateTime), NULL, CAST(N'2017-06-11T13:34:32.017' AS DateTime))
INSERT [dbo].[Classification] ([Id], [Content], [IsDeleted], [CreationTime], [DeletionTime], [ModificationDate]) VALUES (2, N'C#', 1, CAST(N'2017-06-11T13:35:26.770' AS DateTime), NULL, CAST(N'2017-06-11T13:35:26.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[Classification] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [Password], [Name], [Birthday], [IsDeleted], [CreationTime], [Email]) VALUES (1, N'Kobold', N'123456', N'QH', CAST(N'2017-05-25T11:10:55.000' AS DateTime), 0, CAST(N'2017-05-25T11:11:01.000' AS DateTime), N'2807645688')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_REFERENCE_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_ADMIN_REFERENCE_USER]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_BLOG_REFERENCE_ADMIN] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Admin] ([Id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_BLOG_REFERENCE_ADMIN]
GO
ALTER TABLE [dbo].[ClassifyBlog]  WITH CHECK ADD  CONSTRAINT [FK_CLASSIFY_REFERENCE_BLOG] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([Id])
GO
ALTER TABLE [dbo].[ClassifyBlog] CHECK CONSTRAINT [FK_CLASSIFY_REFERENCE_BLOG]
GO
ALTER TABLE [dbo].[ClassifyBlog]  WITH CHECK ADD  CONSTRAINT [FK_CLASSIFY_REFERENCE_CLASSIFI] FOREIGN KEY([ClassifyId])
REFERENCES [dbo].[Classification] ([Id])
GO
ALTER TABLE [dbo].[ClassifyBlog] CHECK CONSTRAINT [FK_CLASSIFY_REFERENCE_CLASSIFI]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_REFERENCE_BLOG] FOREIGN KEY([Id])
REFERENCES [dbo].[Blog] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_COMMENT_REFERENCE_BLOG]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_REFERENCE_CUSTOMER] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_COMMENT_REFERENCE_CUSTOMER]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_REFERENCE_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_CUSTOMER_REFERENCE_USER]
GO
USE [master]
GO
